*{
    font-family: calibri;
}

button{
    cursor:pointer;
}

#info_container{
    position: fixed;
    left:50%;
    bottom:10px;
    transform:translate(-50%,0);
    background-color: green;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s;
    font-weight: bold;
    box-shadow: 0px 0px 20px 2px #000000;
}

#error_container{
    position: fixed;
    left:50%;
    bottom:10px;
    transform:translate(-50%,0);
    background-color: red;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s;
    font-weight: bold;
    box-shadow: 0px 0px 20px 2px #000000;
}


#nsdOverlay{
    z-index: 999;
    position: absolute;
    background-color: gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 44px 5px #000000; 
    box-shadow: 5px 5px 44px 5px #000000;
}

.nsd_opened{
    top:50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.nsd_closed{
    display: none !important;
    top:0%;
    right: 0%;
    transform: translate(0,0);
    width: 10px  !important;
    height: 10px !important;
    overflow: hidden;
}



#nsdOverlay_close{
    position: absolute;
    right: 10px;
    top: 10px;
    color: red;
    font-size: 30px;
    cursor: pointer;
}

#nsdOverlay h1{
    text-align: center;
}

.nsdLoadCloud{
    background-color: rgb(65, 65, 65);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.nsdLoadCloud p{
    margin:0;
}

#nsdCloudSave{
    background: wheat;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 650px;
}